[2021-08-11 08:45] JonasKs opened #1 "Allow guest users setting"
At the moment guest users are allowed to authenticate. Create a setting which is default `False`.

[2021-08-11 15:07] #1 closed, assigned to nobody

[2021-08-12 17:58] JonasKs opened #4 "Release v1"
- [x] Merge #3
- [x] Create release
- [x] Update PyPI token, unfortunately not possible to create a scoped token until you have the repo on PYPI

[2021-08-13 08:51] #4 closed

[2021-08-14 11:53] JonasKs opened #6 "Add user object to the request"
Right now we only validate the token, but having the user object would allow us to easily check for groups, username etc.

[2021-08-15 11:14] JonasKs opened #9 "Add py.typed file"

[2021-08-15 19:56] #9 closed

[2021-08-15 19:56] #6 closed

[2021-08-19 16:15] JonasKs opened #13 "Multi tenant support"
Current list of new settings (Checked boxes implemented in branch/locally):
* [x] Allow overriding `authorization_url`, `token_url` and `description` for OpenID documentation
  * [x] Add tests
* [x] Specify if multi tenant app or not
  * [x] Add tests
* [x] If multi tenant, force v2 endpoint, also when fetching openid-configuration
  * [x] Add tests
* [x] If single tenant, provide an option to dec

[2021-08-19 16:19] JonasKs opened #14 "OpenAPI authentication URI might not be correct if dependencies not specified in `main.py`"
~~Default to `common` endpoint while we wait for #13 ?~~

Will be solved properly in #13.

[2021-08-20 12:37] JonasKs commented on #13
Multi tenant only support `v2` tokens, (The manifest in Azure is configured as `"accessTokenAcceptedVersion": 2,`.) This seems to have an impact on how `iss` and `aud` is formatted, where `iss` is no longer `sts.windows.net/...`, but instead `https://login.microsoftonline.com`. `aud` is also no longer prefixed with `api://`.

Changing in the manifest on a single tenant app won't change the token i

[2021-08-20 13:47] JonasKs commented on #13
* `v2.0` / multi tenant tokens : https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration
* `v1.0` / default single tenant tokens: https://login.microsoftonline.com/common/.well-known/openid-configuration

[2021-08-30 20:01] JonasKs opened #18 "Push v3.0.0 to PyPI"
#13 #14 solved by #16 and #17, but have not been released yet.

Still need to release and rewrite `README.md`

[2021-08-30 20:02] #13 closed

[2021-08-30 20:02] #14 closed

[2021-09-01 12:50] JonasKs commented on #18
Reopening, PyPI 3.0.0 publish will be done when an implemented application has been pentested.

[2021-09-01 18:45] JonasKs commented on #18
`3.0.0rc1` can be found on PyPI.

All the documentation has been rewritten and released.

Pentest scheduled for next week.

[2021-09-10 14:23] JonasKs commented on #18
Backend hosted with 3.0.0 passed pentests without any flaws. :rocket:

Released version `3.0.0`.

[2021-09-10 14:23] #18 closed

[2021-09-19 19:23] daniwk opened #21 "Update docs"
Some references in the docs are not reflecting the latest changes in the package (I suspect).

- [Code example](https://github.com/Intility/fastapi-azure-auth/blob/main/docs/docs/single-tenant/fastapi_configuration.mdx#last-thing) for locking down routes to certain routes. Scopes should be a list: `@app.get("/", dependencies=[Security(azure_scheme, scopes='wrong_scope')])`
- [Same for multitenant

[2021-09-20 07:20] #21 closed

[2021-09-30 03:41] yeguacelestial opened #24 "[Question] Integration with React Native"
Hello, I followed the docs. Everything is well written, and this is probably the best auth library I've seen for FastAPI.

However, I got lost in the woods of FARM stack. How can this library be integrated with a React Native front-end? What flow should one follow? Been lurking around but it seems like a quite uncommon use case.

[2021-09-30 05:12] JonasKs commented on #24
Hi! Thank you for the kind words. 😊

Any flow fetching a token would work. Preferably client side applications should use the Authorization Code (using PKCE) flow. That’s the flow the OpenAPI docs also use.

I’m not a frontend developer so I’ll tag @h3rmanj, he might be able to correct me if the following is wrong:

You can use the Microsoft MSAL react package to handle all token fetching in react

[2021-09-30 07:21] h3rmanj commented on #24
I don't really have any experience with React Native, and I don't really know if Microsoft's `msal` packages are Native friendly. I'm assuming they are not as they probably relies heavily on browser APIs and the DOM, but I might be wrong. [`react-native-msal`](https://github.com/stashenergy/react-native-msal) might be an alternative? As Jonas said you should still use the Authorization Code Flow w

[2021-10-01 13:24] bmoore opened #25 "Cryptography package changed hazmat primitives [BUG/Question]"
**Describe the bug**
If using this package with the most recent version of cryptography, apps crash due to a change in the hazmat primitives.

**To Reproduce**
Have the following requirements

fastapi[all]
fastapi-azure-auth
uvicorn
pytest

1. pip install --no-cache-dir -r requirements.txt
2. Run the sample "getting started" app `uvicorn app:app --reload`

**Stack trace**
...
    from fastapi_azur

[2021-10-01 13:28] bmoore commented on #25
https://github.com/Intility/fastapi-azure-auth/pull/26

[2021-10-01 13:30] JonasKs commented on #25
Hi👋 Thank you for the report and pull request!
I will have a look tonight.

[2021-10-01 13:55] bmoore commented on #25
Thanks. I updated the toml to point to cryptography 35.0.0 that was released on Wednesday.

[2021-10-01 14:29] #25 closed

[2021-10-01 18:45] JonasKs commented on #24
Seems like there's some specific examples on the PKCE flow on the [official website](https://reactnative.dev/docs/0.62/security#oauth2-and-redirects), using [this library](https://github.com/FormidableLabs/react-native-app-auth). An example can be found [here](https://github.com/FormidableLabs/react-native-app-auth/blob/main/docs/config-examples/azure-active-directory.md#v2).

Good luck! 🚀

[2021-10-02 17:00] JonasKs commented on #24
@yeguacelestial I believe we’ve answered your question as best as we can, so I’m going to close this issue.

Feel free to re-open if you have any more questions.

[2021-10-02 17:00] #24 closed

[2021-10-08 16:08] bmoore opened #29 "Definition of fastapi ^0.68.0 only works for patch versions[BUG/Question]"
**Describe the bug**
A new minor release came out yesterday 0.70.0 and causes poetry conflicts when trying to utilize FAA.

The FastAPI-azure-auth package defines ^0.68.0 which effectively means >=0.68.0,<0.69.0

**To Reproduce**
poetry init a new project

Add fastapi latest version
Add fastapi_azure_auth latest version

Run poetry  install and get a dependency conflict error.

**Stack trace**
$ p

[2021-10-08 16:08] bmoore commented on #29
Should likely be resolved with https://github.com/Intility/fastapi-azure-auth/pull/28

[2021-10-10 11:10] #29 closed

[2021-10-16 09:15] JonasKs opened #31 "Support trio"
`trio` is officially supported by FastAPI. This package should also support that.

https://github.com/tiangolo/fastapi/pull/3372   https://github.com/tiangolo/fastapi/releases/tag/0.69.0

[2021-10-21 08:59] alexjolig opened #32 "Ability to store the token in a caching tool"
**Ability to store the token in a caching tool (e.g: Redis with TTL keys) to prevent checking with azure on every request**

It would be great to have an ability in which we can store the user token in a caching tool like Redis and set a TTL for it so that it will expire after a while (Probably set the exact time azure would keep the session for the token), so it prevents sending request to azure

[2021-10-21 09:23] JonasKs commented on #32
Hi!

Thank you for the feature request. How ever, I think there's some misconceptions on how this works, so I'll try to explain it:

* When the app starts, [you _load_ the configuration](https://github.com/Intility/fastapi-azure-auth/blob/main/fastapi_azure_auth/openid_config.py#L70) from e.g. `https://login.microsoftonline.com/{tenant_id}/v2.0/.well-known/openid-configuration`.
* This configurati

[2021-10-21 09:23] #32 closed

[2021-10-21 10:45] JonasKs commented on #32
Correct.

Correct, if you refer the `user's machine` as the machine where the backend API is hosted.

Correct.

😊

[2021-10-22 02:03] yeguacelestial opened #33 "[BUG/Question] React Native auth flow"
**Describe the bug**
Question about integration with the framework.

Is it possible to use `fastapi-azure-auth` as a bridge and be able to execute the following steps?:
- **Send params to FastAPI**, Process params from azure response (the structure I'm handling is described later in this issue)
- **Save user data from azure on DB**, save the user credentials, such as email and department, on the d

[2021-10-24 17:25] #31 closed, assigned to nobody

[2021-11-01 14:23] alexjolig opened #36 "[Question]"
Hi,
I'm using this library. everything works fine when I dockerize my app and run the docker image. But if I try to run my project locally, I get this error:

`RuntimeError: Unable to fetch provider information. Cannot connect to host login.microsoftonline.com:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certifi

[2021-11-01 14:32] JonasKs commented on #36
Hello! Happy it works well for you (well, in Docker😅)!

Sounds like your local Python installation don’t have public certificates installed. How did you install Python?

@ingvaldlorentzen might give a little hint on how it could be resolved, but unfortunately I’m not a Mac user.

Could you try some of the tricks described in this [SO thread](https://stackoverflow.com/questions/42098126/mac-osx-pyt

[2021-11-01 14:55] alexjolig commented on #36
Thanks for the reply. I tried it before with `pip install -U certifi` didn't help. But installing through **Applications** seems to work. but now I'm getting another error:

`Unable to fetch OpenID configuration from Azure AD. Error: 400, message='Bad Request', url=URL('https://login.microsoftonline.com/3/v2.0/.well-known/openid-configuration')`

The error is from this module:

[code]

[2021-11-01 15:39] JonasKs commented on #36
The `3` in that URL should be the entire tenant ID. The URL should also work directly in the browser.
[code]

[2021-11-01 15:44] alexjolig commented on #36
Thanks @JonasKs The second error was my bad! I fixed the tenant ID and now it's working.

[2021-11-01 15:44] #36 closed

[2021-11-01 15:53] JonasKs commented on #36
Awesome! Happy coding! :rocket:

[2021-11-04 09:04] alexjolig opened #37 "[Question]"
I'm creating an API gateway using fastAPI for some microservices, which in I authenticate user via Azure AD via this library. So I'm trying to take out the user info from the request object (_request.state.user_) and inject my own token in it to later pass to other microservices. I can't do this in middleware, cause user info is getting added after it.
But I tried creating an decorator:

[code]

a

[2021-11-04 13:46] alexjolig commented on #37
Ok I got a solution, and I've posted [in stackoverflow](https://stackoverflow.com/a/69840207/2263683). But I'm leaving this open to see if there's any better solution for this. If not you can close this question. Thanks.

[2021-11-04 19:12] JonasKs commented on #37
Hi! Thank you for following up letting me know it's been resolved.

There are a few questions here, so I'll try to answer them as best as I can.  Let me know if anything is unclear.

First off, I agree with the approach you've landed on. Chaining dependencies is the way to make sure something is "in the right order". It is also the approach I've described in the docs [here](https://intility.github

[2021-11-04 19:12] #37 closed

[2021-11-05 14:17] alexjolig commented on #37
That was a great advise and explanations. I moved the dependency part to a higher api_router and now it works for all the APIs. Thank you! This answer is gonna help me through the whole project in the future. I really appreciate it.

[2021-11-05 14:30] JonasKs commented on #37
I’m happy to hear that 😊 Best of luck!

[2021-11-05 14:40] alexjolig commented on #37
Just one small thing need to change in your answer. I had to change the dependency like this for it to work:

[code]

[2021-11-05 16:05] JonasKs commented on #37
Ah, yes, I forgot about that part of the question 👍

[2021-11-09 14:29] alexjolig opened #38 "No module named 'cryptography.hazmat.primitives.asymmetric.types'"
Hi,

**Describe the error**
After installing `cryptography 3.3.1` when I'm trying to run the application, I'm getting error for this line:

`from fastapi_azure_auth.user import User
`

The error is:
`ModuleNotFoundError: No module named 'cryptography.hazmat.primitives.asymmetric.types'
`

**To Reproduce**
Install these packages:

[code]

**Stack trace**
[code]

**Your configuration**

[code]

[2021-11-09 14:34] JonasKs commented on #38
You should patch to the latest version of `fastapi-azure-auth`, and update your `cryptography` module to the newest version. See the [dependencies](https://github.com/Intility/fastapi-azure-auth/blob/main/pyproject.toml#L45).

[2021-11-09 14:37] alexjolig commented on #38
Thank you. After upgrading `fastapi-azure-auth`, it's working now.

[2021-11-09 14:40] JonasKs commented on #38
You're welcome :blush:

[2021-11-09 14:40] #38 closed

[2021-11-10 14:13] productoptimization opened #39 "[QUESTION] Login integration"
First, thank you for the library it's great!

Would be nice to see a very basic integration between the library and a logging endpoint in order to understand the integration with the library in that process.

I can logging with the Fastapi docs but not from my app. I feel I'm reinventing the wheel trying to do the authentication steps. I'm ending creating my own functions try to follow the oath2 f

[2021-11-10 14:46] JonasKs commented on #39
Hi!

Thank you! 😊

This package _only_ supports **API** auth, using bearer tokens. This means your user must log in without any involvement of the backend and recieve an `access_token`. This token is then sent to the FastAPI backend in the header.

Login to the frontend will vary on the framework and how the application is written. Are your frontend a single-page application (e.g. react/angular),

[2021-11-10 15:04] JonasKs commented on #39
You're welcome!

I'll try to describe how it works in very short steps (inspired from what I wrote in #33, which I recommend you read):

* Frontend fetches token with the PKCE flow (using e.g. `Azure ADAL` library for react)
* Frontend makes an API call to the FastAPI backend, attaching the `access_token` in the header as a `Bearer` token.
  * You can see an example on how this works in the OpenAP

[2021-11-10 15:04] #39 closed

[2021-11-10 15:19] productoptimization commented on #39
I all ready own you a couple coffees man!
The topic has been more complex than I expected but with your help I think I'll have it done.
Maybe It's good idea to mention the PKCE flow explicitly on the documentation, just to avoid confusion in noobs
Thanks again!!

[2021-11-10 15:23] JonasKs commented on #39
🍻
I am actually writing a blog post about how OpenID Connect and PKCE works and how they tie together. It will be released soon™️. I'll make sure to link to it in the documentation!😊

[2021-11-10 15:35] productoptimization commented on #39
Nice!! I'll be waiting for that post!
See ya  around!!

[2021-11-10 15:38] JonasKs commented on #39
I wrote `Azure ADAL` above, but you should use `Azure MSAL`. So if you're using react, please use `MSAL` and not `ADAL`.

[2021-11-10 16:02] productoptimization commented on #39
You are killing me with acronyms!....jajaja. I feel like Tarzan here. But here's come google to the rescue.

[2021-11-10 16:08] JonasKs commented on #39
If you write your frontend application with react, there is a library developed by Azure that handles everything you need. The library is called [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-js)

[2021-11-11 21:00] JoeEager-VUMC opened #40 "[Question/Documentation]: Example showing how to call MS Graph API"
Was wondering if there were any examples of showing how to use the token to call the MS Graph API?

[2021-11-12 06:57] JonasKs commented on #40
Hi!

I’m afraid not. I still haven’t used the Graph API.

[2021-11-15 10:35] alexjolig commented on #32
Hi @JonasKs I have a few more questions about this and I'll be thankful if you take time and answer them:

1. I debugged [this line](https://github.com/Intility/fastapi-azure-uth/blob/main/fastapi_azure_auth/openid_config.py#L78), but couldn't find where the public key in that JSON. So how can I check it?

2. How does this library check the expiry date of access token? I think JWT always checks it

[2021-11-15 11:02] JonasKs commented on #32
Hi!

1. The public key(s) can be found its response, under the `jwks` key. See [line 86](https://github.com/Intility/fastapi-azure-auth/blob/80cc7aa47a1e1db6c4b3dbababbe745cdf267b20/fastapi_azure_auth/openid_config.py#L86).

2. Expiry is checked using the `python-jose` library. It is [configured to fail for expired tokens](https://github.com/Intility/fastapi-azure-auth/blob/80cc7aa47a1e1db6c4b3dba

[2021-11-15 13:45] alexjolig commented on #32
Thanks again for your kind reply :)

[2021-11-27 12:58] JonasKs commented on #39
Hi @productoptimization, @alexjolig and @ yeguacelestial!

I’ve written a little blog post on how everything is glued together. You can read it [here](https://engineering.intility.com/article/implementing-oauth2-and-openid-connect-in-your-application)

[2021-11-27 12:59] JonasKs commented on #39
Also @yeguacelestial, see the comment above 😊

[2021-11-27 14:19] yeguacelestial commented on #39
@JonasKs yeah definitely PKCE has its learning curve, struggled a little bit understanding what I was doing but essentially I did what you suggested, and it works!

Thank you very much man 😄

[2021-12-22 10:51] dignifi-richard opened #41 "[Question] How to actually authenticate user"
This library was easy to set up and works great when I access the /docs link and manually click authenticate. However, I'm using FastAPI as a full web app framework with jinja2 templating pages - not just api calls. Can I use this library for authentication? The security is working because after implementation, my pages are inaccessible and I get "not authenticated" message. However, how do I actu

[2021-12-22 16:26] JonasKs commented on #41
Hi!

I'm writing this on my phone, so let me know if anything is unclear and I'll write it a bit more extensive when I'm at a PC.

Glad to hear you find it easy to set up and you got it working!

What I write below is _better explained_ [here](https://django-auth-adfs.readthedocs.io/en/latest/oauth2_explained.html).

It will depend on your solution, but most likely not. This package only implement

[2021-12-22 16:29] #41 closed

[2021-12-22 16:50] dignifi-richard commented on #41
Wow, thank you so much for that incredibly detailed and HELPFUL answer! I will take a look at the two links and the library you mention. I will absolutely keep using this package for api-only apps but I went ahead and dug into the msal library for microsoft authentication on the mvc apps. Again, thank you very much.

[2021-12-22 16:53] JonasKs commented on #41
You're welcome! Let me know if you haven't found a solution that works for you by New Years and I'll give it a go. 😊

[2022-01-05 13:59] hmedhat opened #42 "[BUG] fastapi-azure-auth is not published to pypi"
**Describe the bug**
I am unable to install fastapi-azure-auth, everytime I try I get
[code]

**To Reproduce**
You can run this command on a plain ubuntu docker container and you will get the same error.
`docker run -it ubuntu /bin/bash -c "apt-get update && apt-get install -y python3 python3-pip && pip install fastapi-azure-auth"`

[2022-01-05 14:04] JonasKs commented on #42
Hi, it is. How ever, the requirements is specified [here](https://github.com/Intility/fastapi-azure-auth/blob/main/pyproject.toml#L43-L44). I assume your Python version is 3.8.

[2022-01-05 14:33] JonasKs commented on #42
@hmedhat In other words, I'd recommend using a official `python` image instead of a `ubuntu` image.

`docker run -it python:3.10-bullseye` or `python:3.10-slim`. [Docker docs](https://hub.docker.com/_/python).

[2022-01-05 15:36] hmedhat commented on #42
Thanks for the quick reply, yeah that seemed to be my issue.

[2022-01-05 15:36] #42 closed

[2022-01-13 13:03] bkmetzler opened #43 "[Feature request] Expose auto_error to support multiple other Security auths/bearers along side this package"
**Describe the feature you'd like**
Exposing 'auto_error' from OAuth2AuthorizationCodeBearer and implementing auto_error in 'AzureAuthorizationCodeBearerBase.__call__'.
This will allow having other SecurityBases along side this package.

**Additional context**
This allows having both AzureAD authentication(Bearer) and X-Api-Key authorization for the backend API.
If a system is broken up into 2 sep

[2022-01-13 13:23] JonasKs commented on #43
Hi, thanks for a well written issue. This is definitely within our scope and I will gladly accept a PR. 😊

[2022-01-13 13:56] bkmetzler commented on #43
As promised: https://github.com/Intility/fastapi-azure-auth/pull/44
Waiting for Workflow approval.

[2022-01-13 18:14] bkmetzler opened #45 "[Documentation]: Suggested update in walkthrough"
**Describe the issue**
(https://intility.github.io/fastapi-azure-auth/single-tenant/azure_setup#step-4---allow-openapi-to-talk-to-the-backend)

There should be one final step on this walk through.  Azure has added another section under "Exposing an API" called "Authorized client applications".  If you do not link the OpenAPI back to the original application, the end-user will be prompted to reques

[2022-01-13 18:56] h3rmanj commented on #45
Hi, while authorized clients will skip consenting, it shouldn't be required.

Did you remember to check that users can consent as well?
![image](https://user-images.githubusercontent.com/11387548/149392059-c86e8a70-ab14-4e2c-bbdc-82571a63991e.jpeg)

[2022-01-15 12:36] #43 closed

[2022-01-24 13:23] JonasKs commented on #45
@bkmetzler ? 😊

[2022-01-24 14:15] bkmetzler commented on #45
Yes, "Admins and users" is selected.
![Selection_033](https://user-images.githubusercontent.com/32405329/150799141-3668bf42-bb82-4652-8092-4fa5620ced22.png)

[2022-01-24 15:28] h3rmanj commented on #45
That's odd. Do you have control of the tenant? The only thing I can think of is that there might be a strict policy in place which don't allow users to consent anyway. I don't really know if that's possible though, but we have never encountered this in our tenant.

We could add a info box guiding the user to set up authorized client applications for the API, if they don't want the user to need to

[2022-01-26 10:44] robteeuwen opened #46 "[Feature request] support for B2C tokens"
**Describe the feature you'd like**

I noticed it's not possible to validate B2C tokens with this library, because it depends on the `x5c` field being present in the public key, and my organization's B2C public keys don't have this field. There is a simpler way to create the `cert_obj` that doesn't depend on this field https://python-jose.readthedocs.io/en/latest/jwk/index.html, which would allow

[2022-01-26 11:37] JonasKs commented on #46
Hi! Yes, I agree. I actually did this with a project using [AWS Cognito auth](https://github.com/JonasKs/klepp-backend/blob/main/app/api/security.py#L99) this weekend.

I’m very happy to accept a pull request on this 😊

[2022-01-27 11:06] JonasKs commented on #45
We're unable to reproduce this. Can you share some more information about your setup, @bkmetzler? Do you have `prompt=admin` in the redirect URI to Azure, signing in from a different tenant or something similar?

[2022-01-28 15:59] bkmetzler commented on #45
After looking into this, it seems to be a related to the fact I am using an enterprise level tenant with limitations at the tenant level.

There is no "prompt=admin" in the redirect URI.

[2022-02-01 15:55] Vido opened #47 "[BUG/Question] Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type."
**Describe the bug**

[code]

**To Reproduce**

This is the minimal FastAPI app:

[code]

Please, set the following envars:
[code]

Steps to reproduce the behavior:

1. Go to http://localhost:8000/docs
2. Click in 'Autorize'
3. Leave client_secret blank, and select scopes
4.  Click in 'Autorize', the page will return the error

**Configuration**

I believe this bug is related to my Azure AD set up

[2022-02-01 17:01] JonasKs commented on #47
Hi,

The application created for OpenAPI seems to be configured for `web` and not `Spa`. See [this ](https://intility.github.io/fastapi-azure-auth/single-tenant/azure_setup#step-1---create-app-registration-1)section:

![bilde](https://user-images.githubusercontent.com/5310116/152014570-244266c6-4ac6-4d15-947d-14e7e7536f08.png)

The application itself should looke something like this:

[code]
and t

[2022-02-02 18:34] #47 closed

[2022-02-02 18:34] Vido commented on #47
@JonasKs Huge Thanks!

[2022-02-02 18:36] JonasKs commented on #47
My pleasure 😊

[2022-02-02 18:37] JonasKs commented on #46
Hi @robteeuwen , would you like to submit a PR? 😊

[2022-02-03 13:44] Vido commented on #47
@JonasKs another question:

The /docs interface gives me this curl:

[code]

But I the this 401 response:
[code]

I read the code, It seems that you must consider the scope in the resquest (in some way), I'm not sure
https://github.com/Intility/fastapi-azure-auth/blob/51a0afa7851fb3a62e1ed9c718c632eada6d8b5a/fastapi_azure_auth/auth.py#L143

Am I missing something?

[2022-02-03 13:47] JonasKs commented on #47
Either request the scope for the token, such as `user_impersonation` described in the setup, and then require that scope for that API. Scopes are not mandatory and you can provide an empty list in `Security()`, or even just use `Depends()` instead of `Security()`

(Sorry for formatting, written in a rush on my phone)

[2022-02-03 23:55] h3rmanj commented on #47
@Vido I'm deleting and reposting your comment as it included potential sensitive information.

[2022-02-04 17:17] robteeuwen commented on #46
I do, but I need a little bit of time to format my code. I made multiple changes that I have to pull apart.

[2022-02-04 17:18] JonasKs commented on #46
No worries - let me know if you need any help! 😊

[2022-02-04 20:29] Vido commented on #47
Hi guys,

@JonasKs thanks for the swift answer.

I can't get it to work... I guess there are something wrong with AD config.

Consider this code.
I'm not using the  `'https://graph.microsoft.com/.default': 'default'`scope. (It wasn't working)
I created the `user_impersonation`, and it gets the token.
[code]

I get 401 `{ "detail": "Token contains invalid claims" }`

This is the underlining excepti

[2022-02-04 21:46] JonasKs commented on #47
Can you decode the token at e.g. jwt.io? The audience for the token is wrong.
Seeing your manifest is different multiple places compared to the tutorial, I strongly suggest that you follow the tutorial exactly as it is written once and get everything working, and then alter the setup to your needs later.

[2022-02-05 00:30] Vido commented on #47
@JonasKs Huge Thanks again!

The jwi.io tip was quite helpful. I wasn't aware that the JWT-token carried so much information.
I'm dumpAF, now a realized what I messed up.

Thanks for your help.

[2022-02-05 07:21] JonasKs commented on #47
You’re welcome 😊

[2022-02-07 16:33] robteeuwen commented on #46
I'm having some trouble with the tests. I'm pretty sure the code itself works fine, at least within the context I need it for (I've tested it in the dev environment of my organization and my local environment). I noticed that the mock keys that are used for the tests (in `build_openid_keys()` in `utils.py`) only had placeholders for `n` and `e` fields, so adding the real values based on the cert f

[2022-02-07 16:34] JonasKs commented on #46
Awesome! I’ll look this week. Could you create a PR so I can contribute to your fork?

[2022-02-09 13:38] JonasKs commented on #45
Thank you for getting back to us, @bkmetzler!

I'd like to have a note in the docs which just links to this issue, for those who has issues with admin consent being asked for after following the tutorial. Would you like to create a PR, or should I do it? :blush:

[2022-02-09 13:40] JonasKs commented on #40
If anyone has used the Graph API and would like to contribute to the documentation with a little tutorial, that would be greatly appreciated. :rocket:

[2022-03-02 10:12] ravaszf opened #49 "[BUG] TypeError at library import (Python 3.9.1)"
**Describe the bug**
I'm new to Python/FastAPI, so it is very well possible that it's just me doing something wrong, but my code fails to compile as soon as I add the line to import either SingleTenantAzureAuthorizationCodeBearer or MultiTenantAzureAuthorizationCodeBearer and I'm getting this error: TypeError: unhashable type: 'list'

First I thought it's related to my already written code, so I'v

[2022-03-02 10:30] JonasKs commented on #49
Hi!
That’s weird. I’ll try to reproduce today or tomorrow.

Could you let me know which version of this library you use?

`iss_callable: Optional[Callable[[str], Awaitable[str]]] = None`  Seems to be the issue. Reading [this](https://stackoverflow.com/questions/65858528/is-collections-abc-callable-bugged-in-python-3-9-1) SO thread, an upgrade of Python 3.9 could be sufficient.

[2022-03-02 11:50] ravaszf commented on #49
Thank you for the quick reply.

Right, I forgot to mention that I'm using the latest version of the library, 3.2.0.

I've tried to upgrade from Python 3.9.1 to 3.10.0, but that did not make any difference. Python 3.9.2 is not available for me due to company policies.

Then I changed from collections to typing and now the code compiles and I can authenticate successfully. Thanks for the suggestion.

[2022-03-02 12:19] JonasKs commented on #49
Perfect! Would you like to submit a PR to fix it here as well? 😊

[2022-03-02 12:26] ravaszf commented on #49
Bare in mind I'm a total noob here :) So not sure how to do that properly.

[2022-03-02 14:00] JonasKs commented on #49
Well, I'd say that's a even better reason to make an attempt!

I'll write the steps here, if you want to try it out (and become a contributor), you'll have the opportunity now. These steps are the same for basically all open source projects. I'll be happy to answer any questions you might have! If you don't have time or don't want to, just let me know and I'll do it. 😊

### Fork
First of, you need

[2022-03-02 14:15] ravaszf commented on #49
Thanks for the detailed guide, I'd definitely would like to give it a try, but won't have time today. I'd get back to it tomorrow or the day after, as time allows. Hope that works.

[2022-03-02 14:16] JonasKs commented on #49
No rush at all! Let me know if you have any questions or bump into any issues. 😄

[2022-03-03 12:30] ravaszf commented on #49
Hi Jonas,

I've tried to contribute by following your guide, but ran into some issues with poetry. My company uses a proxy repo and one of the requirements of poetry is blocked, so I can't install it. Unfortunately I don1t have permissions to view the detailed report, so I don't know why is it blocked exactly, but apparently for now this is a no-go, on my company machine at least.

So I figured I'

[2022-03-03 12:38] JonasKs commented on #49
Ah, dang.

Hmm, what happens if you run `pre-commit run --all-files`?

And another note regarding Python 3.10.0. I've made a rookie mistake and did not create venvs, and did not realize that after installing 3.10.0 my code was still running on 3.9.1. So it's actually possible that upgrading too would solve the issue. Unfortunately I can't verify as on 3.10.0 I can't install the dotenv package, due

[2022-03-03 12:50] ravaszf commented on #49
Same, no output at all :/

Yeah, especially if one's not a developer, like myself :) Also, it's a fairly new tool, Both the tool and the processes around it are still tweaked, which also does not help much.

[2022-03-03 13:09] JonasKs commented on #49
Hmm, that’s weird.

I’m not sure what’s wrong honestly. If you have poetry and then write `poetry install`, then `poetry shell` you should be in the environment, with pre-commit installed.

[2022-03-03 13:37] ravaszf commented on #49
Yeah, weird. `poetry install` completed successfully, the venv shown by `poetry shell` looks a bit different than your's, but I think that's because I'm on Windows. Yet still nothing for `pre-commit install`:
![kép](https://user-images.githubusercontent.com/82642535/156574836-eaa22d36-6c4c-465d-a675-ceb8c2adc8bb.png)

Btw, it was surprisingly easy to find someone with a way around the blocked dote

[2022-03-03 13:46] JonasKs commented on #49
Yeah, I honestly don’t know what’s wrong 🤔

If you’d like to fix the bug and then submit a PR, it’s not the end of the world with linting. I can fix that in your PR 😄

[2022-03-07 08:42] ravaszf commented on #49
Unfortunately I could not figure out what's wrong with poetry, but I've created a new PR.

[2022-03-07 08:46] JonasKs commented on #49
Thank you! 😄  I'll fix whatever needs fixing and push a new version to PyPi ASAP.

[2022-03-07 09:28] JonasKs commented on #49
@ravaszf , I've pushed a change to [PyPi](https://pypi.org/project/fastapi-azure-auth/).

Thank you for your bug report and contribution! Let me know if there's anything more I can help you with.

[2022-03-07 09:28] #49 closed

[2022-03-10 15:54] Vido commented on #47
@JonasKs Hi, just one more question. (I don't think this worth to open a new issue.)

Considering the same exemple of this Issue:
[code]

How to I get the authenticated user object (username, email, etc...) ?

[2022-03-10 16:06] JonasKs commented on #47
Hi!

There's two ways, either using the request object as seen [here](https://github.com/Intility/fastapi-azure-auth/blob/main/demo_project/api/api_v1/endpoints/hello_world.py#L24), or adding a dependency in the input of your function, as seen [here](https://github.com/Intility/fastapi-azure-auth/blob/main/demo_project/api/api_v1/endpoints/hello_world_multi_auth.py#L19).

[code]

[2022-03-12 19:18] #46 closed

[2022-03-16 14:41] carlosporta opened #60 "[BUG/Question] Is it possible to create a user?"
I want to create an application with user registration with any email domain, is it possible?

[2022-03-16 15:44] JonasKs commented on #60
Hello! This would be possible using an Azure B2C tenant.

The B2C tokens can be validated using this package (if you use the newest release). Unfortunately, we don’t have any documentation on how to set up a B2C tenant. At the moment only single- and multi-tenant applications have a tutorial.

But yes, it is possible, but you’ll have to figure out the Azure setup yourself. See #46 #48

[2022-03-17 14:28] carlosporta commented on #60
Hello! Thank you, @JonasKs, I will read about it.

[2022-03-17 14:28] #60 closed

[2022-03-21 09:06] lsmith77 commented on #60
@JonasKs are you looking to add documentation for B2C?

[2022-03-21 09:44] JonasKs commented on #60
Hi @lsmith77!

I'm not an Azure B2C user, but contributions (in a PR or as a comment) are welcome if you do figure it out.

As a side note, I'll be out of office for a week or so, so replies may be slower than usual.

[2022-03-21 13:21] Vido commented on #47
Hi @JonasKs , another silly question.

Let's assume that the use case of the API is systems interoperability (ETLs, etc...), and not a SPA.
What is the appropriate way to authenticate this process?
What would be the `curl` command that gets the token?

Thanks.

[2022-03-21 13:51] JonasKs commented on #47
Hi,

That's not a silly question! You would use something called [Client Credentials flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow). Basically just create a secret for your app reg and do something like this:

[code]

or if you use httpx:

[code]
If I don't remember wrong, you have to use the `.default` scope. So if your backend app reg cli

[2022-03-21 22:46] Vido commented on #47
@JonasKs thanks again. This link about authentications protocols was quite helpful.
As far as I understood: there are two types of clients: public clients and confidential clients.
Basically: confidential means 'intranet' or internal-services. Which is the case of Client Credentials flow.

In my use case, the API must be open to the internet, because business-costumers will get their data from it.

[2022-03-21 23:00] JonasKs commented on #47
Confidential means any service which is not exposed in any way. A place where the `client_secret` can be safely stored, such as on your local computer or on a server. That does _not_ include any javascript or frontend application. Anyone with access to the frontend could grab the client secret and authenticate as an application in any context. The client_secret must be _secret_.

If authentication

[2022-03-22 14:29] Vido commented on #47
@JonasKs. Thanks for the clarification.

- PKCE flow -> for SPA frontend (interactive public client)
- Client credentials flow -> for secure applications (non-interactive confidential client)

Let's suppose: I have 100 business-costumers. The want to authenticate with a non-interactive (for easy of use). Do I have to share the client_secret among all of them? (Sounds messy). What are my alternativ

[2022-03-23 10:15] JonasKs commented on #47
Every application (confidential, secure client) would have their own application registration(appreg). That application has access to your backend. [It's set up just like you would with the OpenAPI (Swagger) app registration.](https://intility.github.io/fastapi-azure-auth/single-tenant/azure_setup#openapi-documentation)

The users themself can get access to their appreg, and create their own secre

[2022-03-30 12:59] martin-greentrax opened #61 "[Documentation] How to access user attributes"
This crucial part is missing in the documentation.
based on: https://github.com/Intility/fastapi-azure-auth/pull/8#issuecomment-899034836

Here a stub that could help:

You can access the authorized user's attributes with `request.state.user`
A sample view that outputs the current user name:
[code]

[2022-03-30 13:56] JonasKs commented on #61
Hi, I agree!

Hehe, yes, I knew there would be questions back then and then I forgot about it.

I also got a question about it [here](https://github.com/Intility/fastapi-azure-auth/issues/47#issuecomment-1064224746).

Would you like to contribute with a pull request? 😊

We could move these two sites ([1](https://intility.github.io/fastapi-azure-auth/multi-tenant/locking_down_on_roles), [2](https:/

[2022-03-30 14:05] martin-greentrax commented on #61
I'm happy to contribute, I actually tried but currently don't have the time to get familiar with Docusaurus and don't want to mess up the page structure

[2022-03-30 14:08] JonasKs commented on #61
No worries. I'll leave this open for someone if they want to contribute for a few days, and if not, I'll do it. Thank you for reminding me!

[2022-03-30 14:49] JonasKs opened #62 "[Documentation] How to create application secrets and fetch tokens through Python"
As seen in https://github.com/Intility/fastapi-azure-auth/issues/47#issuecomment-1073922318 and multiple times in `django-auth-adfs` over the years, there is a need to document how to programmatically fetch tokens through Python.

[2022-03-31 04:08] u-iandono commented on #40
I got the following error when trying to call the Microsoft Graph API using the access token coming from the User object:
[code]

After reading this: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/resources-and-scopes.md, I realized it's related to how the scopes work in AzureAD.

So I tried adding the User.Read scope to both the Backend and OpenA

[2022-03-31 06:35] JonasKs commented on #40
Yeah, I've never actually tried this.

It seems from the link you sent that:

I believe, that this means the same would work the opposite way, where if you selected your application scope (`user_impersonation`) first, and then `User.Read`, you could authenticate as normal. This access token would when have already been consented to read the graph API. You can then use this access token to fetch *a

[2022-04-03 11:04] JonasKs commented on #40
A token with the wrong audience (for Graph) will always be denied, and that's what you see when you get this error:

[code]

Pasting the token into [jwt.io](https://jwt.io) will show you that the `aud` is `0000...` and not your client ID, and must be denied by our token validation.

The token with the correct `aud` can not work for the Graph API, for the same reason. This is where the [on-behalf-f

[2022-04-03 11:15] JonasKs commented on #40
I also tried adding

[code]
to my manifests, but didn't help :/

[2022-04-03 11:42] JonasKs commented on #40
I pushed a [graph debug branch](https://github.com/Intility/fastapi-azure-auth/tree/graph) if someone want to look over the code and give it a shot themselves. I still haven't been able to make it work.

<details>
<summary>  Click for instructions
</summary>

1. Copy `demo_project/.env.example` -> `demo_project/.env`
2. Fill out the .env values
3. `poetry install` to install dependencies
4. `uvico

[2022-04-04 04:14] u-iandono commented on #40
@JonasKs I got this result

[code]

Does this mean success?

[2022-04-04 05:45] JonasKs commented on #40
Using OBO? 🎉

How's your appregs set up? I'd love to make it work for me too so I can write docs for it

[2022-04-04 05:58] u-iandono commented on #40
Yeah 🎊 , I only change this part from your code
[code]

I use the tenant ID of Backend API appregs instead of the OpenAPI

I think the rest of the configuration is the same.

![image](https://user-images.githubusercontent.com/79779682/161481824-d0af4d2c-f8e9-473c-9dff-f9cadd364d10.png)

Thank you so much!

[2022-04-04 06:01] JonasKs commented on #40
Alright, thank you! I don’t have that green check box after User.Read so I’ll have to look into that.

You’re saying your appregs are the exact same as my tutorial told you to set them up? 😊

[2022-04-04 07:21] u-iandono commented on #40
Thank you!

Yep! I only create new client secrets because I did not have it previously.

[2022-04-04 07:25] JonasKs commented on #40
Awesome!

My status is not the same as yours:

![image](https://user-images.githubusercontent.com/5310116/161493837-83a9f34c-31e6-47d6-bb16-12c18d16da7f.png)

[2022-04-04 07:31] u-iandono commented on #40
Ah yeah, I think you're correct! I tried revoking the admin consent and I got the same error as you now:

[code]

[2022-04-04 08:09] JonasKs commented on #40
Just got granted admin consent now and everything works here too!

Thanks for troubleshooting this with me! I'll make sure to add some helper functions and documentation on how this works.

[2022-04-04 16:18] JonasKs commented on #40
Thank you @h3rmanj ❤️

I initially thought I messed up this step, but I had both the swagger app client ID _and_ the Graph client ID in there. So not sure why it didn't work for me yesterday. Maybe updating manifests are slow (like they can be with v1 -> v2 swap)? I never attempted again today before I got admin consent.

Anyway, on a fresh app registration everything worked as you described.

I'l

[2022-04-04 18:41] #40 closed

[2022-04-04 18:41] #62 closed

[2022-04-04 18:43] JonasKs commented on #45
Thank you so much @bkmetzler. I've added documentation for this [here](https://intility.github.io/fastapi-azure-auth/usage-and-faq/admin_consent_when_logging_in).

[2022-04-04 18:43] #45 closed

[2022-04-04 18:44] JonasKs commented on #61
I've added documentation [here](https://intility.github.io/fastapi-azure-auth/usage-and-faq/accessing_the_user) and moved the pages as suggested above.

[2022-04-04 18:44] #61 closed

[2022-04-04 18:44] JonasKs commented on #62
Documentation can be found [here](https://intility.github.io/fastapi-azure-auth/usage-and-faq/calling_your_apis_from_python).

[2022-04-04 18:45] martin-greentrax commented on #61
Thank you, @JonasKs
I m sure it will help people getting on board.

[2022-04-04 18:47] JonasKs commented on #61
😊 Also added a bunch of new pages if you'd like to check them out under the same section, such as how to use Graph and how to call your APIs from Python 🎉

[2022-04-05 03:02] u-iandono commented on #40
Thank you so much @JonasKs !

[2022-04-13 08:23] Christian-Schultz opened #70 "[BUG/Question] Minor error in documentation"
Thank you for this excellent module - and the fantastic documentation. I found a small typo in the section [Calling your APIs from Python
](https://intility.github.io/fastapi-azure-auth/usage-and-faq/calling_your_apis_from_python). It should be
`'client_id': settings.APP_CLIENT_ID,` and not `'client_id': settings.OPENAPI_CLIENT_ID,`.

I hope you will continue to maintain this project - it has been

[2022-04-13 09:53] JonasKs commented on #70
Hi! Thanks for the kind words!

Which client ID you should use will vary from which application you create the secret. 😊 In my example I create the secret for the OpenAPI app reg. I think this example is closer to a real life scenario, where another application would like to authenticate to your API.

So, if you created your secret in the backend app reg, you have to swap the ClientID to the backe

[2022-04-13 10:09] Christian-Schultz commented on #70
I see - I guess it makes sense that it would often be a token granted to another app registration instead of the "root" app registration. What fooled me, was that it was the OpenAPI app registration used as an example instead of an entirely new app registration. I think it would not be usual practice to create tokens through the OpenAPI app registration?

[2022-04-13 11:28] JonasKs commented on #70
Ah, yes, agree. I’ll keep this issue and make sure we update it to make it more clear.

PRs welcome if you’d like to contribute 😊

[2022-04-13 11:46] JonasKs commented on #70
I had the project open, so made a PR. I'll happily close it in favor of yours if you're currently making one.

If not, I'd love a review. 😊

[2022-04-13 11:57] Christian-Schultz commented on #70
Thank you for clarifying this - I think it's much better now.

[2022-04-13 11:58] #70 closed

[2022-04-13 12:22] Christian-Schultz opened #72 "[Feature request] oauth2-redirect outside local development"
The documentation is sufficient for building an API that runs in a local development environment - but I suppose that setting oauth2-redirect to a real domain instead of localhost is a common use case outside local development. Suppose the API is hosted somewhere (kubernetes, Azure Container Instances, Virtual Machine) - how should the oauth2-redirect URI now be changed - and what are some options

[2022-04-13 12:43] JonasKs commented on #72
Hi! Thanks for the feedback. 😊

I agree, we could definitely add some options here. @h3rmanj actually have a section about this [here](https://create.intility.app/dotnet/setup/authorization#adding-reply-urls) which we could take inspiration from.  Would you please look over that and see if that is sufficient information, or anything else you'd like to add?

On the second part about TLS and hosting

[2022-04-13 13:23] Christian-Schultz commented on #72
I think that section covers most of the details - so I guess most of it is already written. I'll see if I can do a PR over easter copy-pasting this and modifying it where necessary.

I agree with your comment on TLS, it is probably too much detail. Maybe it's a topic for a future Medium post.

[2022-04-13 13:57] JonasKs commented on #72
Awesome! Let me know if you have any issues, I'm normally pretty quick to respond.

I guess on the backend app registration we don't really need a redirect URL at all, since we're not hosting a MVC site. I'll see if it is possible to even skip that step, since that would be nice, and only have a redirect URL for the OpenAPI app reg and whatever frontend app registrations one might have.

True! We

[2022-04-13 14:04] JonasKs commented on #72
You're always one step ahead, aren't you! Let's reflect that over here. 😁

[2022-04-21 12:59] ocni-dtu opened #73 "Auth with React"
**Describe the bug**

Hey all,
Thanks for a great library!
I have with success implemented the auth workflow with FastAPI and OpenAPI following your [documentation](https://intility.github.io/fastapi-azure-auth/single-tenant/azure_setup)
I have a React frontend that needs to talk to the FastAPI backend and I have trouble getting it to work. I use the `"@azure/msal-browser"` package to get the acce

[2022-04-22 06:21] JonasKs commented on #73
Can you de code your token at https://jwt.io and show me how it looks? If you're not comfortable posting that information online, you can send it to me at jonas.svensson@intility.no.

Also, your react frontend is set up exactly as the OpenAPI app registration?

[2022-04-25 09:01] ocni-dtu commented on #73
Sure here is a [link to the token](https://jwt.io/#debugger-io?token=eyJ0eXAiOiJKV1QiLCJub25jZSI6InFsb0dGTmQxYzVwRnBQN3c5cGNydDMtUXdqRGVJamh2OF9HWHZsaWt1anMiLCJhbGciOiJSUzI1NiIsIng1dCI6ImpTMVhvMU9XRGpfNTJ2YndHTmd2UU8yVnpNYyIsImtpZCI6ImpTMVhvMU9XRGpfNTJ2YndHTmd2UU8yVnpNYyJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTAwMDAtYzAwMC0wMDAwMDAwMDAwMDAiLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC8xMWJlMTUzOC03OWQ4LTQ5Mz

[2022-04-26 06:44] ocni-dtu commented on #73
Yeah, so it turns out that I fucked up 🤦
The mistake was in the React code. Anyways I'm just going to explain below for anyone in the future.

[code]

[code]
The issue was that I had my `accessTokenRequest` without the id of the backend app registration

[code]

[2022-04-26 06:44] #73 closed

[2022-04-26 06:51] JonasKs commented on #73
Glad you figured it out, and thanks for providing an example for future reference.

Have a good week 😊

[2022-04-26 06:53] JonasKs commented on #72
Hi! Do you still want to fix this? If not I'll look into it this week/weekend. 😊

[2022-04-26 07:01] Christian-Schultz commented on #72
It's still on my todo - unfortunately I've been very busy elsewhere. I'll see if I can get it done before the weekend, otherwise feel free :)

[2022-04-26 07:41] JonasKs commented on #72
No rush, just wanted to follow up. I’ll leave it then 😊

[2022-04-27 17:22] manupatel007 opened #74 "[Feature request] Support for python 3.8+ versions."
I had gone through the packages associated with fastapi-azure-auth and found that none of them needs a python version higher then 3.8. And if we can import some of the type hints from typing instead of using inbuilt type hints(as per the [new feature in python 3.9](https://docs.python.org/3/whatsnew/3.9.html#type-hinting-generics-in-standard-collections) and a few other changes, we can serve a bit

[2022-04-27 21:51] JonasKs commented on #74
Hi! Yes, I'd gladly accept a pull request for this! 😊

[2022-04-28 16:50] #74 closed

[2022-05-12 13:52] martin-greentrax opened #80 "[BUG] AttributeError: partially initialized module 'anyio._backends._asyncio' has no attribute 'Event'"
**Describe the bug**

We are seeing this error reported in our sentry for a FastApi Azure function based on https://github.com/ecerami/fastapi_azure and [fastapi-azure-auth](https://github.com/Intility/fastapi-azure-auth)

`partially initialized module 'anyio._backends._asyncio' has no attribute 'Event' (most likely due to a circular import)`

see https://github.com/Intility/fastapi-azure-auth/blo

[2022-05-12 14:14] JonasKs commented on #80
This tend to happen when people name their file something that should already exist. An example is naming your file `math.py` and then attempting to `import math` from stdlib. This can also stem from weird imports with `asyncio`, see [this thread](https://github.com/encode/httpx/issues/1884) for troubleshooting.

[2022-05-12 14:31] martin-greentrax commented on #80
@JonasKs , thank you for your swift reply. We will look into it, but just wondering if it is a import/naming shadowing problem, it would happen on each and every request. What we saw is that a 2nd try shortly after just goes through. :confused:

[2022-05-12 14:43] martin-greentrax commented on #80
Totally understand, I will make a simple load test if I can trigger it consistently and then compare our imports and module names to those of asyncio and httpx and hope to find something.

[2022-05-12 14:53] JonasKs commented on #80
Sounds good 😊

You can also look at the [demo project](https://github.com/Intility/fastapi-azure-auth/tree/main/demo_project) for inspiration on project setup.

[2022-05-13 08:41] martin-greentrax commented on #80
Making 1000s of requests has so far not triggered the error, even though we had 15 unplanned occurrences in our staging and production environment before.
This may be relevant:  https://github.com/encode/httpcore/issues/395
Hard to debug sadly

[2022-05-13 10:09] JonasKs commented on #80
Yeah, (un?)fortunately I don’t believe this is a problem with FastAPI-Azure-Auth - we use HTTPX as intended.

I’ll close the issue, but please let me know if you can reproduce and I’ll definitely try to help out/reopen the issue.

[2022-05-13 10:09] #80 closed

[2022-05-25 09:16] martin-greentrax opened #81 "[Docs] Recipe to mock a logged-in user/Active Directory roles for testing"
We are using this to keep the unit tests small and simple and I thought it may be helpful for others. Based on the username and the assigned ActiveDirectory role users have different permissions in the system. For a convenient way of testing this we can now mock any logged in user per-request:

Example test:

[code]

The setup:

in the routes:

[code]

conftest.py

[code]

[2022-05-26 12:55] yosi1314 opened #82 "[Question] - How can I get the refresh token after successful authorization?"
Hi, I'm trying to gain access to the refresh token after the client clicks authorize.
Is there an option to add an explanation whats going on on the fastapi side once the client clicks authorize?
Also I was wondering if the refresh_token can be added to the User class so I can also implement a token refresh functionality to my app.
Thanks in advance!

[2022-05-26 13:01] JonasKs commented on #82
This module only implements _validation_ of tokens + a login through Swagger/OpenAPI docs using the PKCE Authorization Code flow. The backend will never receive nor handle refresh tokens. In other words, this package only implements Azure AD for Rest APIs.  How your frontend/scripts handle login, token refresh etc. will be up to you.

You can read about it [here](https://engineering.intility.com/a

[2022-05-28 08:36] JonasKs commented on #82
I'm closing this issue, but I will still be notified if your reply.

Have a good weekend 😊

[2022-05-28 08:36] #82 closed

[2022-05-28 08:43] JonasKs commented on #81
Hi! This is an awesome example - thank you so much. If we skip the DB part of it, it could definitely be added to the docs under `Usage and FAQ` (with a link to this issue for an extended example). Would you like to contribute with a PR? 😊

[2022-06-13 09:13] martasls opened #85 "[help] Validating an user with AAD"
I'm trying to use the library for implementing authentication on my API on a larger project.

The way things work is basically my API is serving as backend to an Angular app which is in charge of fetching the token from Azure AD. That's ok. What should happen in my end is I have to validate both the token and the user that is making the request. I can get the user details directly from the token b

[2022-06-13 09:26] JonasKs commented on #85
Hi!

Is this a single tenant application?

I'm not sure if I completely understand. The backend will always deny non-valid users (e.g. a token from another Azure tenant, a token that is intended for a different app, or any invalid token in general). Azure allow login from guest users of the tenant, but you can deny that by following [this tutorial](https://intility.github.io/fastapi-azure-auth/sin

[2022-06-13 09:53] martasls commented on #85
Hi @JonasKs !

Thanks for the quick reply!

It is a single tenant application, yes. So what you're saying is that unless I have defined roles, I don't need to pick up the user's ID from the token and validate it further on Azure?

[2022-06-14 10:05] JonasKs commented on #85
Awesome. I'll close the issue then😊

[2022-06-21 22:20] nickpholden opened #86 "Make appid/azp claims truely optional"
Can you please make appid/azp really optional, we handle autherisation/access through the "assignment required" option and so don't want to have to configure the list of app ids inside fastapi too. It would be really good to make it optionally accept any appid in that claim.

[2022-06-22 05:12] JonasKs commented on #86
We verify the audience, but not `azp`/`appid`. See [here](https://github.com/Intility/fastapi-azure-auth/blob/main/fastapi_azure_auth/auth.py#L162-L190).

Even if you disallow guest users, the backend should still validate the audience (as it is now) for the application, ensuring a token hacked for another app cannot be used for this one.

[2022-06-23 17:45] #86 closed

[2022-06-29 15:40] marcinplatek opened #87 "B2C token does not contain `tid` in the token"
I've managed to set up B2C, but it doesn't seem to return tid in the token. Everything else is working.

I'm not sure how to confirm if everything is working well (I might have to contact microsoft), but if B2C doesn't return tid, would it make sense to make it optional in the User model?

[2022-06-29 22:44] kristiqntashev commented on #87
We just implement B2C and tid is there.

[2022-06-29 22:47] kristiqntashev opened #88 "Missing code_challenge"
Using authentication from swagger and after receiving the redirect URL I notice that the code_challenge is missing. Any idea? Also looking for code_verifier...

[2022-06-30 08:40] #88 closed

[2022-06-30 09:54] JonasKs commented on #87
Thank you! I assume something else is up, I've never heard of the `tid` key missing.

I'd love if someone would contribute with a B2C tutorial, since it's hard to troubleshoot these things without a "best practice base".

[2022-06-30 17:27] marcinplatek commented on #87
This is interesting, because everything seems to be working on my side, besides this.

My setup is basically the same as the Single Tenant one, but:

[code]

and I've picked this option when setting up app registrations:

<img width="623" alt="Screenshot 2022-06-30 at 19 25 11" src="https://user-images.githubusercontent.com/23441199/176740036-78a77b6e-a979-4ab0-9a1a-1020cd14d286.png">

[2022-06-30 18:58] kristiqntashev opened #89 "[Feature request] Direct Access To Config_url"
Hello guys! I'm a part of the Python-dev team in a big company. We decided to use this library for our B2C auth. At the start, it looked fun to be used but after that, we needed to start debugging the library because we didn't find any way to configure config_url easily so the only way we found was:

[code]
So my suggestion is to export the `config_url` as additional property which is accessible d

[2022-06-30 19:17] kristiqntashev commented on #89
Hey, thanks for the fast answer!  YOU ARE AWESOME!

Mainly the idea was to have it into init of the instances of the single- and multi-tenant classes so it's easier to be used for everyone.
We have already checked `AzureAuthorizationCodeBearerBase`. This will make the usage much easier! Would like to push it.

If you think it's not relevant I will close the Feature Request!

Thanks again!

[2022-06-30 20:09] JonasKs commented on #89
❤️

I've thought about this before - but decided not to, since I only thought it would be viable for B2C tenants. I've wanted to create a B2C class (with docs), but haven't gotten around to do that yet. Is there any use case to configure the config url for single- and multi tenant apps? If so, yea, I'm happy to accept a PR 😊

[2022-06-30 21:18] kristiqntashev commented on #89
Thank you so much! The PR is created! Closing this
[Feature request]

[2022-06-30 21:18] #89 closed

[2022-06-30 21:30] kristiqntashev commented on #87
Sure @JonasKs I will try to add a tutorial this week!

[2022-07-01 12:33] JonasKs commented on #87
That would be awesome! 👏 👏

I am on summer vacation from the 9th, so if you're able to make a PR before then I'll be able to give feedback pretty much immediately 😊

[2022-07-01 12:36] JonasKs commented on #81
I've also done a variation of this in [@Intility/templates](https://github.com/Intility/templates/blob/c78273bfa1d55b2542026fb4163a62d708335de1/fastapi/%7B%7B%20cookiecutter.project_name%20%7D%7D/tests/api/conftest.py#L13-L39). I'll try to publish some docs during the summer if you don't beat me to it 😊

[2022-07-02 08:56] JonasKs commented on #87
I've never used Azure B2C, but I suspect the lack of `tid` is because of the fact that you're using a B2C tenant, and the appreg is within that tenant. These other guys are using a combination of multi-tenant and B2C tenants, where the app is registered in the multi-tenant tenant, and then exposed to the B2C tenant?

I'm happy to accept a PR where the `tid` field is optional.

[2022-07-02 10:12] kristiqntashev commented on #87
We also using B2C tenant and tid is there. From my point of view, this is a configuration problem in Azure.

[2022-07-02 14:44] marcinplatek commented on #87
I've investigated a bit, and it looks like it's normal for B2C to miss tid:

preferred_username
Both these claims are missing in many of the Azure AD B2C scenarios.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#known-issue-with-azure-b2c

also:

https://stackoverflow.com/questions/55978290/azure-b2c-access-token-missing-tenantid

There seem to be wo

[2022-07-02 17:23] kristiqntashev commented on #87
This is still strange for me because in our case we don't have any problems with `tid`.

[2022-07-04 13:40] marcinplatek commented on #87
I'll have a look, but the difference is I'm not using multi-tenant, so I think that would explain the difference.

I think the posts I linked clearly show, that `tid` might be missing in many B2C scenarios.

[2022-07-04 13:43] marcinplatek commented on #87
Still, it's really cool that you contributed, @kristiqntashev! I'll try to have a look at it this week, thanks!

[2022-07-04 17:51] kristiqntashev commented on #87
That's possible! We only try with Multitenant!

[2022-07-05 15:54] JonasKs commented on #87
I'm happy to accept a PR where `tid` is a optional field. 😊 I'm going on vacation on Friday, so I'll fix it before then if no PR is created. 😊

[2022-07-05 16:01] marcinplatek commented on #87
I'll try to sit on this tomorrow.

[2022-07-05 17:32] kristiqntashev commented on #87
Ping me if you want we can work together. Happy to help!

[2022-07-07 09:46] RasRakaras opened #95 "Sign in user via '/login'-endpoint [BUG/Question]"
Hi, I am new to AzureAD and the Authentication-flow (and GitHub).

I am building an API with SingleTenantAzureAuthorization.
I have implemented user-login via swagger 'authorize'-Button and secured my data-endpoints successfully, as shown in the documentation.

But I would like to provide a '/login' endpoint that redirects the user/client to Azures SSO-page, then have them redirected to another en

[2022-07-07 15:05] JonasKs commented on #95
Hi, and welcome 😊

This package only implements authorization of APIs. In practice this means that the backend only handle and validate access tokens, but don't care about how the user get them in the first place. An example is the OpenAPI/Swagger documentation, it is a separate app registration and as far as the backend know, it is a separate, pure frontend application.

So to answer your questio

[2022-07-08 05:57] RasRakaras commented on #95
Hey,

yes, now I know how to move forward. Thanks for your reply and the references!

[2022-07-08 05:57] #95 closed

[2022-07-08 10:06] #87 closed

[2022-07-11 10:06] Johschmidt43 opened #97 "[Question] Azure's Authentication feature (Easy Auth)"
Hi,

this work looks really great! Is this library targeted to those who deploy their fastAPI application somewhere other than on Azure services where [Azure's Easy auth](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) cannot be (or is deliberately not) used but MS is the identity provider?

If that's the case, may I suggest to add a reference for people l

[2022-07-12 07:08] Johschmidt43 commented on #97
Thank you very much for the response @JonasKs. Are you ok if I open a PR in which I add one or few lines?

[2022-07-12 07:22] JonasKs commented on #97
Yes😊

[2022-07-12 09:00] #97 closed

[2022-09-06 07:03] lassebass opened #100 "Add OBO middleware [Feature request]"
**Describe the feature you'd like**
It would be nice to have the framework allow more than one API scope. The case where this is needed, is if you have multiple business applications that need access to the same API. (For example like how both Teams and Outlook has access to your calendar). Features like this is supported in .NET frameworks by making a list of valid isuers and audiences, instead o

[2022-09-06 11:02] h3rmanj commented on #100
I'm not sure I understand this question.

The audience of the access token is the application's `clientId`, not the consumers `clientId`. You shouldn't have to add an application to it's own `knownClientApplications` list. The consumers `clientId` is not validated in this package (and isn't in .NET by default either), so who can create access tokens to your application is dependent of what the iss

[2022-09-09 06:35] lassebass commented on #100
We have multiple App Registrations set up for authentication over many different applications in our Azure portfolio. The feature I'm looking for, is the option to allow _fastapi_azure_auth_ to accept tokens issued to any one of these app registrations, not just one specific one.

That way, as long as you are logged into any one of our app registrations, you can access the Web API.

With the curre

[2022-09-09 07:17] h3rmanj commented on #100
I'm still unsure as to why you would want to accept access tokens issued to another application. If the consumers have been granted the scopes to the API in Azure, they should have no problems requesting tokens to the API without any additional configuration in the API.

[2022-09-11 09:57] infomiho opened #101 "Scopes in the README should be an list[str], and not str"
In the setup example, here https://github.com/Intility/fastapi-azure-auth#5-configure-dependencies

The `scopes` params is `'user_impersonation'` instead of `['user_impersonation']` which causes the error:

[code]

[2022-09-11 10:30] JonasKs commented on #101
Nice catch, thank you!

Would you like to submit a PR? If not I’ll fix this week 😊

[2022-09-11 10:38] JonasKs commented on #100
Sorry, I’ve been away so didn’t have time to look into this.

I’m also struggling to understand the use case here.

Can you give me some specific examples of a setup here? Or Microsoft documentation?
Seems to me that your application should just [fetch multiple tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-user-gets-consent-for-multiple-resources).

[2022-09-12 08:22] lassebass commented on #100
TL;DR: fetching multiple tokens is not an option.

Use case: users are logged into a [Grafana](https://azure.microsoft.com/en-us/services/managed-grafana) instance.

Since this is an out-of-the-box Azure product, we cannot directly control how this app handles user login sessions, i.e. cannot fetch multiple tokens. OAuth setup in Grafana connects to one specific app registration (the secondary app

[2022-09-12 09:51] fossmark commented on #100
The reason why this could be a nice feature is that if you want to integrate with a third party software which you do not develop and have control over .

One example could be the JSON Plugin to Grafana which makes it possible to execute requests against any arbitrary backend and this could forward the JWT token the browser already has.

I agree that it would be more correct to use the On-Behalf-O

[2022-09-12 13:21] infomiho commented on #101
Hey, here's the PR: https://github.com/Intility/fastapi-azure-auth/pull/102

[2022-09-13 10:11] JonasKs commented on #100
Who will be the issuer of these tokens? Your tenant or a generic Microsoft tenant (making it multi-tenant)? As far as I can see, the only parameter that we need to support a list for is the [audience](https://github.com/Intility/fastapi-azure-auth/blob/main/fastapi_azure_auth/auth.py#L187).

Since we don't actually manually pass in `audience`, I think this could be an `audience: list[str] | None =

[2022-09-13 10:17] JonasKs commented on #100
https://github.com/mpdavis/python-jose/issues/302

[2022-10-19 08:51] Laurentvw opened #104 "Dynamic model instantiation based on user role"
I am using models within FastAPI to validate incoming body data. Like so:

[code]

The problem is that the model definition should be different based on the Azure user role that's being returned after authentication.

Is there any way to run the azure dependency globally so I can do something like this?

[code]

The correct model needs to be properly loaded on startup so that its schema becomes av

[2022-10-24 18:36] #104 closed

[2022-10-26 07:15] Laurentvw commented on #104
Hi Jonas, just wanted to say thank you, this is really helpful!

[2022-10-26 09:00] JonasKs commented on #104
You're welcome 😊

[2022-11-07 12:59] Pkumar-1988 opened #106 "Scopes missing in /docs at each endpoint padlock"
**Describe the bug**
Scopes are missing if we select padlock symbol next to each api endpoint while trying to authorize.
they do appear when we select authorize button at the top.

**To Reproduce**
use below azure scheme
[code]

use this scheme as a dependency to your endpoint
[code]

go to /docs
![image](https://user-images.githubusercontent.com/117639652/200307915-0b630c1a-161f-45aa-93ce-a8b68e3

[2022-11-07 16:58] JonasKs commented on #106
Huh, good catch. I didn’t know this was a feature in Swagger, honestly. Would you like to look into how to implement it? Pull requests welcome 😊

[2022-11-10 18:49] JonasKs commented on #106
Looked into it and found:

* FastAPI removes any scopes (from the padlock) that isn't a subclass of their [Oauth/OIDC-class](https://github.com/tiangolo/fastapi/blob/master/fastapi/dependencies/utils.py#L153)
* We cannot subclass `Oauth2`, and are forced to [rather instance it inside our own class](https://github.com/Intility/fastapi-azure-auth/blob/main/fastapi_azure_auth/auth.py#L118-L125) due t

[2022-11-10 19:30] JonasKs commented on #106
I've submitted a PR here https://github.com/tiangolo/fastapi/pull/5614. I'll update this thread whenever I get a reply there.

[2022-11-11 10:49] Pkumar-1988 commented on #106
wow.. that was too quick.. thank you for the PR.. do you know when it will be pushed to artifactory

[2022-11-11 11:00] JonasKs commented on #106
@Pkumar-1988 , we have to wait for FastAPI maintainers (tiangolo specifically) to respond first. If they accept and merge, I'll have to edit how we handle scopes in this package, since Azure don't accept and respond with the same kind of scopes (unfortunately).

In other words: I have no idea, it is in FastAPIs hands now. 😊